/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --page-background-image: url("../images/cover-image-dark.png");
    --page-background-color: #000028;
    --primary-color: #F1B2CE;
    --secondary-color: #DB00FF;
    --accent-color: #FF0070;
    --text-title-decor-color: #000028;
    --content-title-color: var(--accent-color);
    --button-border-color: #FF007066;
}


:root.theme-dark .rec-icon {
    display: flex;
}
