
:root.theme-light {
    --page-background-image: url("../images/cover-image-light.png");
    --page-background-color: #FFF1F7;
    --primary-color: #353430;
    --secondary-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-title-decor-color: var(--primary-color);
    --content-title-color: var(--primary-color)
}


:root.theme-light .rec-icon {
    display: none;
}


@media (prefers-color-scheme: light) {
    :root {
        --page-background-image: url("../images/cover-image-light.png");
        --page-background-color: #FFF1F7;
        --primary-color: #353430;
        --secondary-color: #FFC2E6;
        --accent-color: #FF8DCB;
        --text-title-decor-color: var(--primary-color);
        --content-title-color: var(--primary-color)
    }

    .rec-icon {
        display: none;
    }

}
